.file-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.files-container.grid {
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
  padding: 12px;
}
/* .file-container.list {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr) 2fr;
  border-bottom: 1px solid rgba(25, 25, 25, 0.2);
  padding: 5px 0px;
} */

.file-list__header {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr) 2fr;
}

.file-name {
  grid-column-start: 2;
}

.file-list__empty {
  margin-top: 20px;
  text-align: center;
}