.class-wrapper {
  display: flex;
  align-items: stretch;
  padding: 20px 10px;
  gap: 10px;
}

.folder-view__btn {
  text-align: center;
  background: #ffffff;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  color: #111827;
  padding: .5rem 1rem; 
}

.folder-view__btn:hover {
  background-color: rgb(249, 250, 251);
}

.header__search {
  flex: 1 1 auto;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #535353;
}

.header__sort {
  padding: 0 10px;
  border-radius: 4px;
}

.header__controllers {
  display: flex;
  gap: 5px;
  margin-left: auto;
}
